.git
.gradle
.idea
UseFragments.iml
app/app.iml
app/iml
app/.cxx
app/.externalNativeBuild
app/build
app/buildout
library/core/build
library/core/buildout
library/dash/buildout
library/hls/buildout
library/smoothstreaming/buildout
build
gradle
weidi_library
local.properties
.push_git.sh
.git_push_impl.sh
